core/library/__pycache__/*
core/qpb_data_analysis.egg-info/*
core/unit_tests/__pycache__/*

data_files/raw/*
!data_files/raw/README.md
data_files/processed/*
!data_files/processed/README.md

output/plots/*
!output/plots/README.md
