.vscode/*

bash_scripts/unit_tests/mock_data/*

core/**/__pycache__/*
core/qpb_data_analysis.egg-info/*
core/tests/integration_tests/*/*
core/tests/mock_data/golden_masters/*
core/tests/mock_data/valid/*
core/tests/test_outputs/*
core/tests/unit_tests/mock_data/valid/*
core/tests/unit_tests/output_from_mock_data/*

data_files/processed/*
!data_files/processed/README.md
data_files/raw/*
!data_files/raw/README.md

examples/plots/*
!examples/plots/plotting_data_files_set_template.ipynb
examples/tables/*
!examples/README.md
!examples/tables/table_of_data_files_set_template.ipynb

output/*
!output/plots/README.md
!output/tables/README.md

notebooks/*
